:root {
  --mainColor: #252734;
  --secondColor: #333646;
}

body {
  background-color: var(--mainColor);
}

.nav-link.active {
  color: white !important;
  font-weight: 700;
}

#home {
  height: 100%;
  margin-top: 30px;
  justify-content: center;
}

#about {
  background-color: #333646;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}

#skills {
  width: 100%;
  margin-top: 50px;
  height: 100%;
  padding-bottom: 60px;
}

#skills img {
  margin: 10px;
}

#contact {
  background-color: var(--secondColor);
  width: 100%;
}

.footer {
  background-color: black;
}
